In [1]:
import numpy as np
import pandas as pd
from sys import exit

1. Fill in the necessary code to write a function called `times_seven()`. The function should take a single argument (`x`) and multiply the input by 7.
  + This function should check that the argument is numeric.
  + This function should also excitedly announce (print) *“I love sevens!”* if the argument to the function is a 7.

In [17]:
def times_seven(x):
    if (type(x) != (int or float)):
        exit("Value is not numeric.")

    if x == 7:
        print("I love sevens!")

    return x*7

2. Write and run some *unit tests* for your `times_seven` function.  What happens if the input to the function is `[1, 3, 5, 7]`?

In [18]:
times_seven("7")

SystemExit: Value is not numeric.

In [19]:
times_seven(7)

I love sevens!

49

In [21]:
times_seven([1,3,5,7])

SystemExit: Value is not numeric.

Throws an error since we only allow a single number input rather than an array of values

3. Consider the following function:

In [22]:
def add_or_subtract(first_num, second_num = 2, type = "add"):
    if (type == "add"):
        first_num + second_num
    elif (type == "subtract"):
        first_num - second_num
    else:
        exit("Please choose `add` or `subtract` as the type.")

**Without running the code**, predict if the following will produce:

a. 1

b. -1

c. 30

d. An error defined by the function `add_or_subtract()`

e. An error defined in a different function, which is called inside the `add_or_subtract()` function

In [23]:
#b because with these values we are asking for 5-6 = -1
add_or_subtract(5, 6, type = "subtract")

#e because "orange" + 2 should throw an error
add_or_subtract("orange")

#d error due to the type being "multiply"
add_or_subtract(5, 6, type = "multiply")

TypeError: can only concatenate str (not "int") to str

4. Consider the following code:

In [ ]:
first_num  = 5
second_num = 3

result = 8

result = add_or_subtract(first_num, second_num = 4)

result_2 = add_or_subtract(first_num)


In your Global Environment, what is the value of...

a. `first_num`

b. `second_num`

c. `result`

d. `result_2`

first_num is globally the value 5, unchanged.
second_num is globally the value 3, unchanged.
result is initially the value 8 and then changed to the result of add_or_subtract(5,4) = 9
Finally, result_2 is defined as add_or_sutract(5) which is 5+2 = 7.